.container {
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #d2d4d8;
    transition: transform 0.2s;
    cursor: grab;
}

.title {
    font-weight: bold;

}

.createTaskContainer {
    margin: 7px -5px -5px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.createTaskForm {
    margin-bottom: -5px
}

.createTaskBtnContainer {
    text-align: center;
}