.container {
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #d2d4d8;
    transition: transform 0.2s;
    cursor: grab;
}

.title {
    font-weight: bold;
}

.header {
    display: flex;
}

.createTaskContainer {
    margin: 7px -5px -5px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.createTaskForm {
    margin-bottom: -5px
}

.createTaskBtnContainer {
    text-align: center;
}

.errorMessage {
    font-weight: bold;
    color: #97327a;
    opacity: 0.5;
}

.loadingCursor {
    cursor: wait;
}

.responsibleContainer {
    max-width: 50%;
}

.responsibleUsers {
    margin-top: -25px;
}

.responsibleUserRemove {
    padding: 3px 6px;
    margin-bottom: 6px;
    font-size: 12px;
    border-radius: 30%;

}

.textLineThrough {
    margin-right: 3px;
    text-decoration: line-through
}

