.container {
    position: relative;
}

.header {
    text-align: center;
}

.inviteContainer {
    display: flex;
    align-items: center;
    width: 80%;
}

.inviteEmail {
    margin-right: 8px;
}

.inviteBtn {
    margin-bottom: 5px;
}

.error,
.success {
    color: #dc3747;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

.success {
    color: #45a049;
}

.errorAlert {
    padding: 7px;
    background-color: #c31122;
    color: #ffffff;
}

.invitedUsersTable {
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.invitedUsersTable thead {
    background-color: rgb(228 240 245);
}

.invitedUsersTable th,
.invitedUsersTable td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

.invitedUsersTable td:last-of-type {
    text-align: center;
}

.invitedUsersTable tbody > .invitedUsersTable tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.delete:hover {
    background-color: #97327a;
    color: #ffffff;
    cursor: pointer;
}

.deleteProject {
    position: absolute;
    bottom: 5px;
    right: 25px;
    color: #c31122;
    font-weight: bold;
}

.deleteProject:hover {
    cursor: pointer;
}