.container {
    display: flex;
    align-items: center;
}

.containerLink {
    margin-right: 1rem;
}

.navigation {

}

.auxiliary {

}

.link {
    text-decoration: none;
    color: #272822;
}

.link:hover {
    color: #737478;
}

.linkAct {
    text-decoration: none;
    color: #744cb5;
}