.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;

    box-sizing: border-box;
}

.formTitle {
    text-align: center;
}

.error {
    margin-bottom: 0.3rem;
    font-weight: bold;
    text-align: center;
    color: #dc3747;
}

.success {
    margin-bottom: 0.3rem;
    font-weight: bold;
    text-align: center;
    color: #45a049;
}

.link {
    text-decoration: none;
    color: #272822;
}

.link:hover {
    color: #737478;
}