.button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #cccccc;
}

.buttonSuccess {
    background-color: #4CAF50;
}

.buttonSuccess:hover {
    background-color: #45a049;
    cursor: pointer;
}

.buttonDanger {
    background-color: #97327a;
}

.buttonDanger:hover {
    background-color: #a53c87;
    cursor: pointer;
}

.buttonLoader {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.buttonLoader:hover {
    cursor: not-allowed;
}